/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .banner-page {
        height: 340px;
        padding-top: 20px;
    }
    .img-nobar img {
        bottom: 70px; right: -20px;
    }
    .date {
        bottom: 15px;
        width: 100%;
        text-align: center;
    }
    .sub-banner .from, .sub-banner .end {
        font-size: 13px;
    }
    .menu-desk {
        display: none;
    }
    .banner-page {
        background-color: purple;
        border-bottom-right-radius: 40px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .img-nobar img {
        bottom: 80px; right: 0px;
    }
    .date {
        bottom: 30px;
        width: 100%;
        text-align: center;
    }
    .sub-banner .from, .sub-banner .end {
        font-size: 14px;
    }
    .swiper-container {
        width: 60%;
    }
    .menu-desk {
        display: none;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .img-nobar img {
        bottom: 90px; right: 20px;
    }
    .date {
        bottom: 35px;
        width: 100%;
        text-align: center;
    }
    .menu-desk {
        display: none;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .menu-mobile {
        display: none;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .menu-mobile {
        display: none;
    }
}