/* Utility */
.white-color {
    color: white;
}
.black-color {
    color: black;
}
.purple-color {
    color: rgb(161, 8, 161)
}
.d-ib {
    display: inline-block;
}
.banner-page {
    padding-top: 52px;
    width: 100%;
    height: 365px;
    background-color: rgb(255, 255, 255);
}
.sub-banner {
    width: 80%;
    height: 265px;
    background-color: rgb(170, 13, 170);
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.container-banner {
    width: 100%;
    height: 265px;
    position: relative;
}
.sub-banner .name {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 10px;
}
.sub-banner .from, .sub-banner .end {
    font-size: 15px;
    line-height: 18px;
    display: inline;
}
.sub-banner .from span, .sub-banner .end span {
    font-weight: 500;
}
.sub-banner .area {
    width: 80px;
    color: purple;
    background-color: white;
    padding: 1px;
    border-radius: 100px;
}
.date {
    position: absolute;
    bottom: 30px;
    left: 0;
}
.img-nobar img {
    position: absolute;
    bottom: 50px; right: 20px;
}
.d-inline {
    display: inline-block;
}
.schedule {
    width: 100%;
    padding: 20px;
}
h3.title {
    margin: 0;
    margin: 0 0 10px 0;
    color: rgb(88, 88, 88);
    font-size: 26px;
    font-weight: 500;
}
h6.stand-total {
    font-size: 13px;
    margin: 0;
    color: rgb(88, 88, 88);
}
a.sch-detail {
    margin-top: 13px;
    background-color: rgb(170, 13, 170);
    border-radius: 20px;
}
a.sch-detail-white {
    background-color: rgba(255, 255, 255, 0.9);
}
.card-sch {
    width: 100%;
    height: 120px;
    padding: 10px;
    position: relative;
}
.card-sch img {
    margin-top: 10px;
}
.founded-stand {
    position: absolute;
    top: 55px;
    left: 120px;
    background-color: rgb(170, 13, 170);
    color: white;
    padding: 0 10px;
    border-radius: 10px;
}
.name-stand {
    position: absolute;
    top: 25px;
    left: 120px;
    font-size: 17px;
    font-weight: 100;
    letter-spacing: 1px;
}
.name-stand .points {
    width: 90px;
    font-size: 14px;
    margin-top: 5px;
    color: purple;
    background-color: #fff;
    border-radius: 20px;
}
.info {
    position: absolute;
    bottom: 10px; right: 0;
}
.result {
    width: 70px;
    font-size: 14px;
    margin-top: 10px;
    color: purple;
    background-color: #fff;
    border-radius: 20px;
    margin-left: 5px;
}
.win {
    background-color: rgb(143, 223, 160);
}
.lose {
    background-color: rgb(223, 143, 143);
}
.draw {
    background-color: rgb(201, 201, 201);
}
/* Akhir Utility */

/* Navigasi */
nav {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 3;
}
nav.d-purple {
    background-color: rgb(170, 13, 170);
}
a.brand-logo {
    font-size: 24px;
    font-weight: 600;
    font-family: sans-serif;
}
.sidenav-overlay {
    z-index: 2;
}
.circle a {
    background-color: rgb(153, 35, 143);
    font-size: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-top: -5px;
    margin-left: 20px;
}
/* Navigasi */

/* Home */
.img-league {
    position: absolute;
    top: 30px; left: 0;
    width: 100%;
    height: 80px;
}
.info-league {
    padding-top: 65px;
}
.info-league .name-league {
    font-size: 17px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.info-league .area-league {
    font-size: 15px;
    background-color: rgb(170, 13, 170);
    color: white;
    width: 100px;
    border-radius: 100px;
    margin: auto;
}
.pantau {
    width: 100%;
}
.pantau h1 {
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: rgb(170, 13, 170);
    width: 50%;
    border-radius: 5px;
    padding: 10px 0;
    margin: auto;
}
.pantau {
    width: 100%;
    min-height: 52vh;
    background-color: rgb(170, 13, 170);
    margin-top: 20px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 30px;
    position: relative;
}
.pantau h1 {
    width: 400px;
    padding: 15px 0;
    margin: auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 16px;
    background-color: #fff;
    color: rgb(170, 13, 170);
}
.pantau img {
    position: absolute;
    bottom: 20px; right: 30px;
    width: 430px;
    z-index: 2;
}
.pantau svg {
    /* background-color: rgb(109, 3, 109); */
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* Akhir Home */

/* Favorit */
.wrapper-fav-list {
    background-color: rgb(170, 13, 170);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    min-height: 55vh;
}
/* Akhir Favorit */

/* Loading */
.loading-wrapper {
    width: 100%;
}
.loading {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background-color: rgb(170, 13, 170);
}
.loading-white {
    background-color: #fff;
}
.load-1 {
    animation: load .7s infinite linear;
}
.load-2 {
    animation: load .8s infinite linear;
}
.load-3 {
    animation: load .9s infinite linear;
}

@keyframes load {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
/* Akhir Loading */

/* Detail Team */
#body-content-detail {
    padding-top: 63px;
}
.back {
    font-size: 20px;
    margin-right: 20px;
}
.wrapper-detail {
    width: 80%;
    height: 400px;
    margin: auto;
    margin-top: 40px;
}
.brand-team-img {
    padding: 10px;
    border-radius: 20px;
}
.info-team {
    width: 100%;
    background-color: rgb(170, 13, 170);
    border-radius: 20px;
    margin-top: 20px;
    padding-top: 30px;
}
.row-info {
    padding: 0px !important;
    margin-top: -15px;
}
.bold-text, .reg-text {
    color: white;
    font-size: 15px;
}
.bold-text {
    font-weight: bold;
    margin-top: 5px;
}
.reg-text {
    word-wrap: break-word;
}
#tabel {
    overflow-x: auto;
}
/* Akhir Detail Team */

/* Floating */
.floating {
    position: fixed;
    bottom: 0;
    right: 30px;
    width: 50px;
    height: 70px;
    background-color: rgb(221, 52, 52);
    font-size: 24px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 10px;
    transition:all 300ms ease-in-out;
   -webkit-transition:all 300ms ease-in-out;
   -moz-transition:all 300ms ease-in-out;
   -o-transition:all 300ms ease-in-out;
   -ms-transition:all 300ms ease-in-out;
    cursor: pointer;
}
.floating-hapus {
    display: none;
    background-color: rgb(184, 0, 0);
}
.floating:hover {
    background-color: rgb(148, 0, 0);
    transition:all 300ms ease-in-out;
   -webkit-transition:all 300ms ease-in-out;
   -moz-transition:all 300ms ease-in-out;
   -o-transition:all 300ms ease-in-out;
   -ms-transition:all 300ms ease-in-out;
}
/* Akhir Floating */